<!DOCTYPE html>
<html>
	<head>
		<title>My Webpage</title>
		<style>
			@keyframes slideInFromLeft {
				0% {
					transform: translateX(-70%);
					opacity: 20%;
				}

				100% {
					transform: translateX(0);
					opacity: 100%;
				}
			}

			body {
				margin: 0px 0px 0px 0px;
				width: 100%;
				height: 100%;
			}

			#titleBanner{
				background-image: linear-gradient(to right, #b60fdb, #e04631);
				display: flex;
				flex-direction: row;
				justify-content: center;
				padding: 50px 0px 50px 0px;
			}

			h1 {
				margin: 0px;
				font-size: 100px;
				font-family: 'Bebas Neue', cursive;
				color: #1fb9ce;
				animation: 2s ease-out 0s 1 slideInFromLeft;
			}

			#mainContent {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				margin: 0px 10px 0px 10px;
			}

			.contentBox {
				flex-basis: 0;
				flex-grow: 3;
				min-width: 400px;
				margin: 0px 10px 0px 10px;
				animation: 2s ease-out 0s 1 slideInFromLeft; 
			}

		</style>
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="titleBanner">
			<h1>Welcome to my WebPage!</h1>
		</div>

		<div id="mainContent">
			<div class="contentBox">
				<h2>Something Somethin...</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <%= link_to 'Here is a link to the about page', about_path %></p>
			</div>

			<div class="contentBox">
				<h2>Another thing...</h2>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
			</div>
		</div>
	</body>
</html>